@media (max-width: 500px) {
  .container {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .container div {
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important;
    text-align: center !important;
  }

  .container img {
    width: 250px;
    margin-top: 20px;
  }
}
