.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 5rem;
}

.img_container {
  border-radius: 4px;
  height: 400px;
  margin-left: 1rem;
}


.img {
  width: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.product_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  width: 50%;
}

.product_info h3 {
  font-family: "Noto Sans";
  font-weight: 600;
  font-size: 1.4rem;
}

.product_info p {
  font-family: "Inter";
  font-size: 1.2rem;
}

.btn_container button {
  font-family: "Inter";
  font-size: 1rem;

  padding: 12px 30px;

  border: none;
  border-radius: 2px;

  background-color: #000;
  color: #fff;

  cursor: pointer;
  transition: 0.3s ease-out;
}

.btn_container button:hover {
  background-color: cadetblue;
}

.desc_container {
  width: 90%;
}

.desc_container p {
  font-family: "Inter";
  font-size: 1rem;
  line-height: 1.5rem;
}
