.container {
  display: flex;
  justify-content: center;
  align-items: center;



  height: 200px;
  width: 100%;
  background-color: cadetblue;
}

.container h2 {
  font-family: "Lora";
  color: #fff;
}
