.dropdown {
  position: relative;

  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 140%;
  left: 0;
  padding: 20px;
  width: 150px;

  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  list-style: none;
  background-color: #f9f9f9;
}

.dropdown li {
  display: flex;
  align-items: center;
  font-family: "Inter";
}

.dropdownMenu li {
  display: flex;
  width: 100%;
  padding: 4px 0;
  background-color: aqua;
}

.dropdownMenu li a {
  font-family: "Inter";
  font-size: 1.1em;
  color: #000;

  padding-bottom: 5px;
}

.chevron {
  transform: rotate(180deg);
  transition: 0.3s linear;
}

.chevron_closed {
  transition: 0.3s linear;
}
