.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 300px;
  margin: 20px 50px;
}

.perks_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 30%;
}

.perks_container * {
  text-align: center;
  margin-bottom: -2px;
}

.perks_container h3 {
  font-family: "Noto Sans";
  font-weight: 600;
  color: #343434;
}

.perks_container p {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4rem;

  color: #666666;

  width: 90%;
}

.perks {
  color: #cecece;
  transition: 0.5s ease-out;

  margin-bottom: 10px;
}

.perks:hover {
  color: cadetblue;
}
