.perks {
  color: #cecece;
  transition: 0.5s ease-out;

  margin-bottom: 10px;
}

.perks:hover {
  color: cadetblue;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column !important;
    margin-bottom: 30rem !important;
    gap: 3rem;
  }

  .container div {
    width: 100%;
  }
  h2 {
    font-size: 1rem !important;
  }

  .perks {
    color: cadetblue;
  }
}
