.container {
  margin: 20px;
  margin-left: 8rem;
}

.text_container {
    width: 50%;
}

.h1 {
  color: #fff;
}

.p {
  font-family: "Inter";
  font-size: 1rem;
  color: #d4d4d4;
}

.btn_container {
  display: flex;
  gap: 10px;
}

.btn_container button {
  font-family: "Inter";

  height: 40px;
  width: 140px;

  border: none;
  border-radius: 2px;

  cursor: pointer;
  transition: .3s ease-out;
}

.main_btn:hover {
    background-color: #dcdcdc;
}

.secondary_btn {
  border: 2px solid #fff !important;
  background-color: transparent;
  color: #fff;
}

.secondary_btn:hover {
    background-color: #fff;
    color: #000;
}