.hero_image {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 20px;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/images/hero_image.jpg") center/cover no-repeat;
}
